<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.example.scandevice"
    version="1.0.4">

    <name>ScanDevice</name>
    <description>Bluetooth and WiFi Scan Central Plugin</description>
    <license>Apache 2.0</license>
    <keywords>bluetooth, wifi, scandevice</keywords>

    <repo>https://github.com/miraculixx/cordova-rfscanner-plugin.git</repo>
	
    <asset src="www/scandevice.js" target="js/scandevice.js"/>
    

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="ScanDevice">
                <param name="android-package" value="com.example.scandevice.ScanDevice"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="android.permission.INTERNET" />
				<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
				<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
				<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
				<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
				<uses-permission android:name="android.permission.BLUETOOTH" />
				<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>
		<js-module src="www/scandevice.js" name="scandevice">
			<clobbers target="scandevice" />
		</js-module>
        <source-file src="src/android/ScanDevice.java"
            target-dir="src/com/example/scandevice"/>
        <source-file src="src/android/BluetoothScanService.java"
            target-dir="src/com/example/scandevice"/>
        <source-file src="src/android/WifiScanService.java"
            target-dir="src/com/example/scandevice"/>
        <source-file src="src/android/DBHelper.java"
            target-dir="src/com/example/scandevice"/>
        <source-file src="src/android/MainActivity.java"
            target-dir="src/com/example/scandevice"/>
		
    </platform>
	
	 <platform name="ios">

        <config-file target="config.xml" parent="/widget">
            <feature name="GeolocationPlugin">
                <param name="ios-package" value="GeolocationPlugin" onload="true"/>
            </feature>
        </config-file>
		<js-module src="www/region.js" name="region">
			<clobbers target="region" />
		</js-module>
        <header-file src="src/ios/GeolocationPlugin.h" target-dir="GeolocationPlugin" />
        <source-file src="src/ios/GeolocationPlugin.m" target-dir="GeolocationPlugin" />

    </platform>
</plugin>